Support chunked transfer encoding

"Clients and servers are expected to follow the other rules and restrictions in
[HTTP]. Note that some of those rules are for HTTP methods other than POST;
clearly, only the rules that apply to POST are relevant for this specification."

Hm, not really. For instance, servers have to support GET and HEAD (that's a
basic HTTP requirement), clients need to properly process 1xx responses. Is
support for chunked transfer encoding required? (see RFC 9112, Section 6.1)?
Are requests using chunked transfer encoding forbidden?